{% block head %}
{% endblock %}

{% block nav %}
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">{{ username }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/main/home">Home</a></li>
                <li><a href="/main/group_management">Manage Groups</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="logout">Logout</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>


              <form class="navbar-form navbar-right" role="search">
                

                <div class="form-group" id="search-term">
                    <input type="text" class="form-control search-term" placeholder="Search">
                </div>

                <!-- Split button -->
                <div class="btn-group" id="btn-group">
                  <button type="button" class="btn btn-success search-button">Search: Full Text</button>
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu search-option-list" role="menu">
                    <li data-searchtype="Text" class="search-option"><a href="#"  >Full Text Search</a></li>
                    <li data-searchtype="Newest" class="search-option"><a href="#"  >All Images: Newest First</a></li>
                    <li data-searchtype="Oldest" class="search-option"><a href="#"  >All Images: Oldest First</a></li>
                    <li data-searchtype="Dates" class="search-option" id="date-choice-button"><a href="#"  >Choose Dates</a></li>
                      
                  </ul>
                </div><!-- / Split button -->

                <a class="btn btn-primary btn-default" href="/main/upload">Upload</a>
              </form>


            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
{% endblock %}

{% block body %}
{% endblock %}
