.add-user {
    padding-left: 0px;
}

.user-select {
    background-color: #f2dede;
}

.label-danger {
    cursor: pointer;
    cursor: hand;
}

.submit-new-group, .add-user-button {
    margin-top: 5px;
}

option {
    padding: 10px 15px;
}
/*
.user-select option {
    padding: 10px 15px;
}
*/
