.white-spacer-5 {
    padding-top: 5%;
}

.white-spacer-10 {
    padding-top: 10%;
}

.white-spacer-20 {
    padding-top: 20%;
}

.large-image-display {
    width: 80%;
}

.thumbnail-image-display {
    padding-top: 0%;
    width: 100%;
    border-bottom: 1px  black;
}

.thumbnail-photo-details {
}


li {
    padding-bottom: 1%;
}

i {
    padding-bottom: 1%;
}

#container {
    height: 80%;
    margin: 0 auto;
}

.list-group {
    margin: 0px;
}

.image-grid {
    position: absolute;
    right: 2%;
    height: 80%;
    overflow-y: scroll;
    border-left: 1px solid black;
}
.grid-item {
    width: 70%;
    height: auto;
    text-align: left;
    margin-bottom: 1em;
}

.photo-details-wrapper {
    display: inline-block;
}

.grid-item ul {
    display: none;
}

.editable:hover {

}

.delay-01s {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-1.2s {
    animation-delay: 1.2s;
    --webkit-animation-delay: 1.2s;
}

.delay-1.5s {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
