{% extends "base.html" %}

{% block head %}
<!DOCTYPE html>
<html>
<head>
    <!-- jquery lib required for bootstrap js library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- alerts css and js -->
    <script src="{{ STATIC_URL }}js/sweet-alert.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sweet-alert.css">

    <script src="{{ STATIC_URL }}js/home_page_script.js"></script>

    <!-- classie for quick class addition/removal -->
    <script src="{{ STATIC_URL }}js/classie.js"></script>

    <!-- Date/Time picker stylesheet -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css">
    <!-- in place editing plugin -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
    <!-- font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Our stylesheet overlayed on bootstrap css, takes priority -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    <title></title>
</head>
<body>
{% endblock %}


{% block nav %}
{{ block.super }}
{% endblock %}

{% block body %}

<div class="container-fluid image-display">
    <div class="row">
        <div class="col-sm-9">
            <!-- Main image -->
            <div class="large-image-wrapper">
                <img class="center-block large-image-display" alt="image">
                <button type="submit" class="delete-button btn btn-danger">Delete</button>
            </div> 
            <!-- image information secton -->
            <div class="col-sm-8 col-sm-offset-2">

                <!-- left column with subject and description -->
                <div class="col-sm-6">
                    <div class="row">
                        <p class="pull-right image-subject"
                        id="image-subject"
                        data-type="text"
                        data-pk=""
                        data-url="/main/modify_image_details/"
                        data-title="Subject">
                        </p>
                    </div>

                    <div class="row">
                        <p class="pull-right image-description"
                        id="image-description"
                        data-type="textarea"
                        data-pk=""
                        data-url="/main/modify_image_details/"
                        data-title="Description">
                        </p>
                    </div>
                </div><!-- / left column -->

                <!-- right column with location, date, group -->
                <div class="col-sm-6 pic-loc-group-date">
                    <div class="row">
                        <div class="image-location">
                            <span class="label label-danger"
                                id="image-location"
                                data-type="text"
                                data-pk=""
                                data-url="/main/modify_image_details/"
                                data-title="Location">
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="image-group">
                            <span class="label label-danger"
                                id="image-group"
                                data-type="select"
                                data-pk=""
                                data-url="/main/modify_image_details/"
                                data-title="Group">
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="image-date">
                            <span class="label label-danger"
                                id="image-date"
                                data-type="date"
                                data-pk=""
                                data-url="/main/modify_image_details/"
                                data-title="Date">
                            </span>
                        </div>
                    </div>

                </div><!-- /right column -->
            </div><!-- /image section info -->
        </div><!-- image and description section -->

        <!-- thumbnail colum container -->
        <div class="col-sm-3 grid-container">

            <!-- search info box -->
            <div class="row">
                <div class="search-info">
                    Showing search results for ...
                </div>
            </div>

            <!-- thumbnail container -->
                <div class="image-grid">
                </div>

        </div><!-- /thumbnail/search info container -->

</body>
</html>
{% endblock %}
