{% extends "base.html" %}

{% block head %}
  <!DOCTYPE html>
  <html>
    <head>
      <!-- jquery lib required for bootstrap js library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <!-- grid library -->
      <script src="{{ STATIC_URL }}js/masonry.pkgd.js"></script>
      <script src="{{ STATIC_URL }}js/home_page_script.js"></script>
      <!-- Date/Time picker stylesheet -->
      <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css">
      <!-- in place editing plugin -->
      <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
      <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
      <!-- font -->
      <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
      <!-- font awesome -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <!-- Our stylesheet overlayed on bootstrap css, takes priority -->
      <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
      <title></title>
    </head>
    <body>
{% endblock %}


{% block nav %}
  {{ block.super }}
{% endblock %}

{% block body %}

  <div class="container-fluid image-display">
    <div class="row">
      <div class="col-sm-9">
        <img class="center-block white-spacer-5 large-image-display" alt="image">

        <div class="col-sm-8 col-sm-offset-2">
          <!-- left column with subject and description -->
          <div class="col-sm-6">
            <div class="row">
                <p class="pull-right image-subject"
                   id="image-subject"
                   data-type="text"
                   data-pk=""
                   data-url="/main/modify_image_details/"
                   data-title="Subject">
                </p>
            </div>

            <div class="row">
                <p class="pull-right image-description"
                   id="image-description"
                   data-type="textarea"
                   data-pk=""
                   data-url="/main/modify_image_details/"
                   data-title="Description">
                </p>
            </div>
          </div>
          <!-- end left column with subject and description -->

          <!-- right column with location, date, group -->
          <div class="col-sm-6 pic-loc-group-date">

            <div class="image-location">
              <span class="label label-danger"
                    id="image-location"
                    data-type="text"
                    data-pk=""
                    data-url="/main/modify_image_details/"
                    data-title="Location">
              </span>
            </div>

            <div class="image-group">
              <span class="label label-danger"
                    id="image-group"
                    data-type="select"
                    data-pk=""
                    data-url="/main/modify_image_details/"
                    data-title="Group">
              </span>
            </div>

            <div class="image-date">
              <span class="label label-danger"
                    id="image-date"
                    data-type="date"
                    data-pk=""
                    data-url="/main/modify_image_details/"
                    data-title="Date">
              </span>
            </div>

          </div>
        </div>
      </div>
        
      <!-- image thumnnail grid -->
      <div class="col-sm-3 image-grid">
      </div><!-- /grid -->

    </body>
  </html>
{% endblock %}
