{% extends "base.html" %}

{% block head %}
<!DOCTYPE html>
<html>
<head>
    <!-- jquery lib required for bootstrap js library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
    <!-- d3 graphing library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.js"></script>

    <!-- alerts css and js -->
    <script src="{{ STATIC_URL }}js/sweet-alert.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sweet-alert.css">


    <!-- classie for quick class addition/removal -->
    <script src="{{ STATIC_URL }}js/classie.js"></script>

    <!-- Date/Time picker stylesheet -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>

    <!-- Selection box stuff -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-select.js"></script>


    <!-- Graphing stuff -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/xcharts.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/xcharts.js"></script>

    <!-- in place editing plugin -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
    <!-- font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Our stylesheet overlayed on bootstrap css, takes priority -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/olap.css">
    <script src="{{ STATIC_URL }}js/olap.js"></script>
    <title></title>
</head>
<body>
{% endblock %}


{% block nav %}
{{ block.super }}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-5">
        <div class="select-boxes-wrapper">
            <div class="row">

            <form class="form-horizontal" role="form">
               <div class="form-group">
                <label for="user" class="col-sm-4 control-label">Username</label>
                <div class="col-sm-8">
                  <select class="form-control" id="user" name="username">
                      <option data-byuser="False">Group All Users</option>
                      <option data-byuser="True">By Individual User</option>
                  </select>
                </div>
              </div>


              <div class="form-group">
                <label for="time-period" class="col-sm-4 control-label">Time Period</label>
                <div class="col-sm-8">
                  <select class="form-control" id="time-period" name="timePeriod">
                      <option data-bydate="False">None</option>
                      <option data-bydate="weekly">Weekly</option>
                      <option data-bydate="monthly">Monthly</option>
                      <option data-bydate="yearly">Yearly</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <label for="start-date" class="col-sm-4 control-label">Start Date</label>
                <div class="col-sm-8">
                  <input type="date" class="form-control" id="start-date" placeholder="Start Date">
                </div>
              </div>

              <div class="form-group">
                <label for="end-date" class="col-sm-4 control-label">End Date</label>
                <div class="col-sm-8">
                  <input type="date" class="form-control" id="end-date" placeholder="End Date">
                </div>
              </div>

              <div class="form-group">
                <label for="subject" class="col-sm-4 control-label">Subject</label>
                <div class="col-sm-8">
                  <select class="form-control" id="subject" name="subject">
                      <option data-bysubject="True">By Subject</option>
                      <option data-bysubject="False">Ignore Subject</option>
                  </select>
                </div>
              </div>
            <div class="form-group">
              <div class="text-center">
                <button type="button" id="get-data-button" class="col-sm-6 col-sm-offset-5 btn btn-primary animated fadeInUp delay-05s">Display</button>
              </div>
            </div>
         </form>

        
        </div><!-- /select boxes wrapper -->

        </div>
        </div>
        <div class="col-sm-7">
            <div id='table-container'></div>
        <div>

        </div>

</body>
</html>
{% endblock %}
