{% extends "base.html" %}
{% block content %}

        <!-- Image src will be filled dynamically by django -->
        <img src="{{ STATIC_URL }}img/placeholder.jpg" class="center-block white-spacer-5 image-display" alt="image">

        <form class="pic-details-form form-horizontal white-spacer-5" role="form" method="post" enctype="multipart/form-data">
            <div class="form-group animated bounceInLeft">
              <label for="location" class="col-sm-offset-2 col-sm-2 control-label">Location</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="location" placeholder="Location">
              </div>
            </div>

            <div class="form-group animated bounceInRight delay-03">
              <label for="subject" class="col-sm-offset-2 col-sm-2 control-label">Subject</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
            </div>

            <div class="form-group animated bounceInRight delay-03">
              <label for="datetimepicker6" class="col-sm-offset-2 col-sm-2 control-label">Date</label>
                <div class='col-sm-4'>
                    <input type='text' class="form-control" id='datetimepicker6' placeholder="Date"/>
                </div>
            </div>

            <!--
            <div class="form-group">
              <label for="date" class="col-sm-offset-2 col-sm-2 control-label">Date</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="date" placeholder="Date">
              </div>
            </div>
            -->

            <div class="form-group">
              <label for="permissions" class="col-sm-offset-2 col-sm-2 control-label">Permissions</label>
              <div class="col-sm-4">
                <select class="selectpicker form-control" id="permissions" name="permissions">
                    <!-- Django will need to fill in a option items -->
                    <option>Private</option>
                    <option>Friends</option>
                    <option>Family</option>
                </select>
              </div>
            </div>
                
            <div class="form-group">
              <div class="col-sm-12 text-center">
                <button type="submit" class="submit-button btn btn-primary">Submit</button>
              </div>
            </div>
        </form>

{% endblock %}
